.User{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.User:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 9px rgb(240, 231, 231);
}

.search-box{
    margin-top: 20px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
}

p {
    margin: 10px;
}