.profile{
    background-color: #191414;
    color: white;
    min-height: 100vh;
    display: flex;
}

.name{
    margin-top: 20vh;
    margin-left: 22vh;
    position: relative;
    font-size: calc(5px + 1.75vmin);
    font-weight: 500;
}

.friendSearch{
    margin-top: 1vh;
    margin-left: 20vh;
    position: relative;
}

.friends{
    margin-top: 20vh;
    margin-left: 20vh;
    font-size: calc(5px + 1.75vmin);

}

.User{
    margin-top: 1vh;
    margin-left: 0.2vh;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: calc(5px + 1.5vmin);
}

.search{
    font-size: calc(5px + 1.5vmin);
}

.search-box{
    padding-left: 10px;
}

.button{
    margin-top:10px
}

.error{
    color: red;
    font-size: calc(5px + 1vmin);
}