.card {
    width: 1000px;
    background-color: #343434;
    margin-top: 20px;
    color:white;
    padding: 10px;
    border-radius: 10px;
    
}
.card:hover{
    width:1050px;
}

img {
    margin: 10px;
}
#other {
    font-weight: lighter;
}