#topNav {
    background-color: #2b2a2a !important;
    margin-top: 0vh !important; 
}

#dropdown-right{
    background-color: transparent;
    margin-left: 4vh;
}

.navbar .navbar-nav .nav-link:hover{
    color: #2b2a2a;
}

.loggedOut{
    margin-right: 2vh;
}

.navElement{
    margin-left: 2vh;
    margin-right: 2vh;
    text-align: center;
}

.btn-primary{
    border-color: white;
}

.dropdown-content{
    margin: 0vh;
    background-color: #191414;
}

.dropdown-menu{
    padding: 0vh;
    background-color: transparent;
}

span{
    margin-right: 2vh;
}