#topNav {
    background-color: #2b2a2a !important;
    margin-top: 0vh !important; 
}

.loggedOut{
    margin-right: 2vh;
}

.navElement{
    margin-left: 2vh;
    margin-right: 2vh;
    text-align: center;
}

#dropdown-right{
    background-color: transparent;
    color: white;
    margin-left: 4vh;
}

.dropdown-content{
    margin: 0vh;
    background-color: #191414;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.dropdown-menu{
    padding: 0vh;
    background-color: transparent;
}